<div class="modal fade" role="dialog" id="modal<%= project.id %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= p.description %>
      </div>
    </div>
  </div>
</div>
