<nav id="main-nav">
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to 'Who Am I?', about_path, class: 'item' %></li>
    <li><%= link_to 'My Portfolio', skills_path, class: 'item' %></li>
    <li><%= link_to 'Leave A Message', contact_path, class: 'item' %></li>
    <li></li>
  </ul>
</nav>
