<nav id="main-nav" class="col-sm-2">
  <ul class="nav nav-pills nav-stacked text-center" id="sidebar">
    <li><%= link_to 'About', about_path, class: 'item' %></li>
    <li><%= link_to 'Skills', skills_path, class: 'item' %></li>
    <li><%= link_to 'Portfolio', projects_path, class: 'item' %></li>
    <li><%= link_to 'Contact', contact_path, class: 'item' %></li>
  </ul>
</nav>
