<nav class="navbar navbar-default navbar-fixed" data-spy="affix" data-offset-top="120">
  <ul class="nav navbar-nav text-center container">
    <li><%= link_to 'About', about_path, class: 'item' %></li>
    <li><%= link_to 'Skills', skills_path, class: 'item' %></li>
    <li><%= link_to 'Portfolio', projects_path, class: 'item' %></li>
    <li><%= link_to 'Contact', contact_path, class: 'item' %></li>
  </ul>
</nav>
