<nav class="ui sticky fixed top secondary pointing menu" id="main-nav">
  <%= link_to 'Who Am I?', about_path, class: 'item' %>
  <%= link_to 'My Portfolio', skills_path, class: 'item' %>
  <%= link_to 'Leave A Message', contact_path, class: 'item' %>
</nav>
